@import url('https://use.fontawesome.com/releases/v5.6.3/css/all.css');
.color-0{color: #ffffff;}
.color-1{color: #ff4444;}
.color-2{color: #99cc00;}
.color-3{color: #ffbb33;}
.color-4{color: #0099cc;}
.color-5{color: #33b5e5;}
.color-6{color: #FFFF00;}
.color-8{color: #cc0000;}
.color-9{color: #cc0068;}
    src: url("../BarlowCondensed.ttf");

* {
  font-family: 'Barlow Condensed', sans-serif;
  margin: 0;
  padding: 0;
  font-size: 0.9rem;
}

.no-grow {
  flex-grow: 0;
}

em {
  font-style: normal;
}

#app {
  font-family: 'Barlow Condensed', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: orange;
  background-color: transparent;
}

.chat-window {
  position: absolute;
  right: 0.5%;
  width: 19%;
  height: 25%;
  top: 23%;
  background-color: rgba(52, 73, 94, 0);
  -webkit-animation-duration: 2s;
}



.chat-messages {
  position: absolute;
  height: 95%;
  font-size: 1rem;
  width: 100%;
  color: rgb(255, 255, 255);
  overflow-x: hidden;
  overflow-y: hidden;
  word-wrap:break-word;
  word-break:normal;
}


.chat-input {
  font-size: 0.9rem;
  position: absolute;
  top: 50%;
  right: 0.85%;
  width: 18%;
  background-color: rgba(0, 0, 0, 0.3);
  box-sizing: border-box;
  border-radius: 10px;
}

.prefix {
  position: absolute;
  margin-top: 2px;
  left: -20px;
}

textarea {
  font-size: 1.0rem;
  display: block;
  box-sizing: border-box;
  padding: 5px;
  color: rgb(255, 255, 255);
  background-color: rgba(207, 227, 114, 0);
  width: 100%;
  border-width: 0;
  height: 30%;
  overflow: hidden;
}

textarea:focus, input:focus {
    outline: none;
}

.msg {
  margin-bottom: 5px;
}

.twitter
{
  height: 10%;
  width: 90%;
  color: White;
  background: #FFFFFF;
  border-radius: 5px;
  color: #0000;
}

.multiline {
  margin-left: 1.5rem;
  text-indent: -1.5rem;
  white-space: pre-line;
}

.suggestions {
  list-style-type: none;
  padding: 5px;
  padding-left: 27px;
  font-size: 0.9rem;
  box-sizing: border-box;
  color: rgb(255, 255, 255);
  background-color: rgba(207, 227, 114, 0);
  width: 100%;
}

.help {
  color: #FFFFFF;
}

.disabled {
  color: #FFFFFF;
}

.suggestion {
  margin-bottom: 5px;
}
