* {
    padding: 0;
    margin: 0;
    font-family: 'Signika', sans-serif;
    text-transform: uppercase;
    color: white;
    text-shadow:
    -0.5px -0.5px 0 #000,
    0.5px -0.5px 0 #000,
    -0.5px 0.5px 0 #000,
    0.5px 0.5px 0 #000;
            
}

.ui {
    position: relative;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.35);
    display: none;
    z-index: 0;
}

.inventory {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 1550px;
    height: 600px;
    background-color: rgba(0, 0, 0, 0.082);
    border-radius: 8;
}

#playerInventory {
    width: 570px;
    height: 600px;
    float: left;
    overflow-y: scroll;
}

#controls {
    width: 300px;
    height: 600px;
    float: left;
    position: relative;
    left: 0;
    top: 0;
}

#otherInventory {
    width: 625px;
    height: 600px;
    float: left;
}

#count {
    outline: none;
    font-size: 18px;
    border-radius: 9px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}

.slot {
    float: left;
    width: 105px;
    height: 120px;
    /*background-color: rgba(255, 153, 0, 0.6);
    margin: 2px;
    position: relative;*/
    float: left;
    margin-left: 3px;
    margin-top: 3px;
    position: relative;
    border-style: solid;
    border-radius: 10px;
    border-color: rgba(255,255,255,0.1);
    border-width: 1px 1px 1px 1px;
  /*   transition: 0.2s; */
}

.slot:hover {
    background: rgba(18, 18, 18, 0.05);
    border-color: rgba(255,255,255,0.5);
 /*   -moz-box-shadow:    inset 0 0 15px rgba(18, 18, 18, 0.05);
    -webkit-box-shadow: inset 0 0 15px rgba(18, 18, 18, 0.05);*/
    box-shadow:         inset 0 0 15px rgba(18, 18, 18, 0.05);
}

.item,
.item-other {
    width: 100px;
    height: 100px;
    background-size: 70%;
    background-repeat: no-repeat;
    background-position: center;
}

.item-name {
    position: absolute;
    bottom: 0;
    padding-top: 5px;
    padding-bottom: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    text-align: center;
    display: block;
    width: 105px;
    min-height: 14px;
    font-size: 10px;
    background-color: rgba(0,0,0,0.35);
}

.ui-draggable-dragging .item-name,
.ui-draggable-dragging .item-count {
    display: none;
}

.item-count {
    position: absolute;
    top: 0;
    text-align: right;
    width: 100px;
    height: 20px;
    z-index: 500;
    font-size: 14px;
}

.ammoIcon {
    width: 8px;
    height: 8px;
}

.info-div {
    font-family: "Lucida Console", "Courier New", monospace;
    font: bolder;
    font-size: 20px;
    font-weight: bolder;
    text-transform: lowercase;
    padding: 5px;
    position: absolute;
    top: 20%;
    left: 65%;
    transform: translate(-50%, -50%);
}

.controls-div {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.control {
    position: absolute;
    left: 50%;
    top: 53%;
    transform: translate(-50%, -50%);
    width: 200px;
    height: 35px;
    margin-top: 15px;
    margin-right: 20px;
    margin-bottom: 20px;
    text-align: center;
    vertical-align: center;
    font-size: 15px;
    line-height: 36px;
    float: left;
    border: 1px solid rgba(255, 255, 255, 0.1);
    background: rgba(18, 18, 18, 0.2);
  /*   transition: 0.2s; */
}

.control2 {
    position: absolute;
    top: 22.5%;
    left: 12.5%;
    width: 225px;
    height: 300px;
    margin-top: 15px;
    margin-right: 20px;
    margin-bottom: 20px;
    vertical-align: center;
    line-height: 36px;
    float: left;
    border: 0px solid rgb(255, 255, 255);
    background: rgba(18, 18, 18, 0.466);
    border-radius: 10px;
  /*   transition: 0.2s; */
}

.text {
    position: absolute;
    top: 48%;
    left: 44%;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font: bolder;
    font-size: 20px;
    font-weight: bolder;
}

.text2 {
    position: absolute;
    top: 20%;
    left: 10%;
    color: white;
    font-family: "Lucida Console", "Courier New", monospace;
    font: bolder;
    font-size: 20px;
    font-weight: bolder;
    text-transform: lowercase;
}

.control3 {
    position: absolute;
    left: 50%;
    top: 60%;
    transform: translate(-50%, -50%);
    width: 200px;
    height: 35px;
    border-radius: 9px;
    margin-top: 15px;
    margin-right: 20px;
    margin-bottom: 20px;
    text-align: center;
    vertical-align: center;
    font-size: 15px;
    line-height: 36px;
    float: left;
    border: 1px solid rgba(255, 255, 255, 0.1);
    background: rgba(18, 18, 18, 0.2);
  /*   transition: 0.2s; */
}

.control4 {
    position: absolute;
    left: 50%;
    top: 67%;
    transform: translate(-50%, -50%);
    width: 200px;
    height: 35px;
    border-radius: 9px;
    margin-top: 15px;
    margin-right: 20px;
    margin-bottom: 20px;
    text-align: center;
    vertical-align: center;
    font-size: 15px;
    line-height: 36px;
    float: left;
    border: 1px solid rgba(255, 255, 255, 0.1);
    background: rgba(18, 18, 18, 0.2);
  /*   transition: 0.2s; */
}

.image {
    position: absolute;
    width: 250px;
    height: 250px;
}

.control.disabled {
    border-color: rgba(255,255,255,0.1);
    border-width: 1px 1px 1px 1px;
/*     transition: 0.2s; */
}

.hoverControl {
    background: rgba(18, 18, 18, 0.05);
    border-color: rgba(255,255,255,0.5);
  /*  -moz-box-shadow:    inset 0 0 15px rgba(18, 18, 18, 0.05);
    -webkit-box-shadow: inset 0 0 15px rgba(18, 18, 18, 0.05);*/
    box-shadow:         inset 0 0 15px rgba(18, 18, 18, 0.05);
}

.item-name-bg {
    width: 100%;
    width: 100px;
    height: 16px;
    position: absolute;
    bottom: 0;
}

#playerInventory::-webkit-scrollbar-track,
#otherInventory::-webkit-scrollbar-track {
    background-color: none;
    border: none;
}

#playerInventory::-webkit-scrollbar,
#otherInventory::-webkit-scrollbar {
    width: 5px;
    background-color:   rgba(255,255,255,0.5);
  /*  -moz-box-shadow:    inset 0 0 10px #000000;
    -webkit-box-shadow: inset 0 0 10px #000000;*/
    box-shadow:         inset 0 0 10px #000000;
}

#playerInventory::-webkit-scrollbar-thumb,
#otherInventory::-webkit-scrollbar-thumb {
    background-color: rgba(17, 5, 17, 1);
    border: 2px solid rgba(17, 5, 17, 1);
}

.nearbyPlayerButton {
    width: 100%;
    margin-top: 5px;
    display: block;
    text-decoration: none;
    padding: 2px;
    color: rgba(255, 255, 255, 0.85);
    background-color: rgba(63, 57, 83, 0.226);
    text-shadow: none;
    font-size: 14px !important;
    outline: none;
    text-transform: none;
    text-align: center;
    line-height: 30px;
    border: none;
}

.nearbyPlayerButton:hover {
    background: rgba(18, 18, 18, 0.05);
    border-color: rgba(255,255,255,0.5);
 /*   -moz-box-shadow:    inset 0 0 15px rgba(18, 18, 18, 0.05);
    -webkit-box-shadow: inset 0 0 15px rgba(18, 18, 18, 0.05);*/
    box-shadow:         inset 0 0 15px rgba(18, 18, 18, 0.05);
}

#noSecondInventoryMessage {
    width: 615px;
    height: 580px;
    line-height: 580px;
    text-align: center;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font: normal;
    font-size: 15px;
    font-weight: normal;
}

@media (max-width: 1500px) {
    .inventory {
        width: 1300px;
    }

    #playerInventory {
        width: 550px;
    }

    #controls {
        width: 200px;
    }

    #otherInventory {
        width: 550px;
    }

    #noSecondInventoryMessage {
        width: 615px;
    }
}

@media (max-width: 1300px) {
    .inventory {
        width: 1000px;
    }

    #playerInventory {
        width: 425px;
    }

    #controls {
        width: 150px;
    }

    #otherInventory {
        width: 425px;
    }

    #noSecondInventoryMessage {
        width: 420px;
    }
}
